In [9]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from selenium.common import NoSuchElementException, TimeoutException
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

chrome = webdriver.Chrome()
# Pandas
import pandas as pd
# tratar HTML como arquivo para o Pandas
from io import StringIO

In [10]:
# Exemplo 01
# https://curso-web-scraping.pages.dev/#/exemplo/8
# server local
pagina = 'https://curso-web-scraping.pages.dev/#/exemplo/8'
chrome.get(pagina)
chrome.implicitly_wait(time_to_wait=10)  # aguardar 10 seg antes de levantar exceção

In [17]:
# String longa da url para conversão do StringIO - Evitar pandas procurar arquivo local

# ler tabela com pandas e lxml
# pd.read_html(io=) string io longa confunde pandas. StringIO garante url.
str_io = StringIO(chrome.page_source)
filtro = {'id':'tabela-usuarios'}

lista_tabelas = pd.read_html(io=str_io, attrs=filtro)  # busca elementos table na pagina e pega text da tabela
lista_tabelas[0]

,Avatar,Nome completo,Profissão,E-mail,Perfil,Estado
0,NaN,Rebeca Melo,Policial,rebeca_melo17@example.net,rebeca.melo,Distrito Federal
1,NaN,Ígor Costa,Agente,igor_costa82@example.org,igor_costa87,Mato Grosso
2,NaN,Dr. Tertuliano Silva,Estrategista,tertuliano_silva25@example.com,tertuliano.silva,Pará
3,NaN,Dra. Roberta Franco,Facilitador,roberta_franco@example.org,roberta.franco39,Mato Grosso
4,NaN,Ofélia Martins,Executivo,ofelia.martins13@example.org,ofelia.martins,Espírito Santo
5,NaN,Liz Costa,Agente,liz.costa36@example.org,liz.costa,Paraíba
6,NaN,Maria Clara Oliveira,Arquiteto,mariaclara_oliveira72@example.org,mariaclara.oliveira69,Alagoas
7,NaN,Alessandra Reis,Facilitador,alessandra_reis78@example.com,alessandra.reis,Goiás
8,NaN,Talita Santos,Associado,talita_santos@example.org,talita.santos32,Roraima
9,NaN,Salvador Batista,Estrategista,salvador.batista@example.com,salvador_batista,Rondônia